# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment
.env
.env.*
venv/
.venv/

# Build
dist/
build/

# IDE
.idea/
.vscode/

# AWS
.aws-sam/

# Logs
logs/
*.log

# Test coverage
.coverage
coverage/

# Local development
.DS_Store
